// $icomoon-font-link: 'yzyqqi';

// $black: #000;
// $white: #FFF;
// $easterBlue: #1EA2AF;

// $highlight: lighten($easterBlue, 35%);
// $boxShaddow: rgba($black, .25);


$ruzova1:#ffc0cb;
$ruzova2:#ffa0b0;
$modra1: #403a7a;
$modra2:#8ecdeb;
$modra3:#9bb2e1;
$biela: #ffffff;
$siva1:#f7f7f7;
$siva2:#f0f0f0;
$cierna:#111111;
$fialova1:#c79cc8;
$fialova2:#a89cc8;

